.container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

iframe {
	width: 100%;
}

.topImage img {
  border-radius: 0;
}

aside.right, aside.left {
  text-align: center;
  float: inherit;
}
